<section class="student-sec1">
  <div class="sidebar">
    <ul>
      <li class="sidebarli">
        <a href="/student/dashboard"
          ><i class="fas fa-plus-circle"></i>File Grievance</a
        >
      </li>
      <li class="sidebarli">
        <a href="/student/checkStatus"
          ><i class="fas fa-digital-tachograph"></i>Check Status</a
        >
      </li>
      <li class="sidebarli">
        <a href="/student/grievanceHistory"
          ><i class="fas fa-history"></i>Grievance History</a
        >
      </li>
      <li class="sidebarli">
        <a href="/student/myProfile"><i class="fas fa-user"></i>My Profile</a>
      </li>
      <li class="sidebarli">
        <a href="/student/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
  </div>
</section>
