<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Grievance Management Portal</title>
    <%- include('partials/_headerLinks.ejs') %>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>

    <section class="main">
      <div class="heading-container">
        <h1>
          Welcome to <br />
          Online Grievance Management Portal
        </h1>
        <p>
          The place for all your queries/problems. this portal is the
          application System which provides an online way of solving the
          problems faced by the students and to save time. The objective of the
          Online Grievance Management Portal is to make complaints easier to
          coordinate, monitor, track and resolve.
        </p>
        <div class="btns">
          <a href="student/login">File a Grievance</a>
          <a href="">Learn More</a>
        </div>
      </div>
      <div class="main-img-container">
        <img src="img/gri.png" alt="" />
      </div>
    </section>
  </body>
</html>
